<!DOCTYPE html>
<html>

    <head>
        <title>AngularJS Pagination and Table Sort</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
        <link rel="stylesheet" href="styles/app.css">
    </head>

    <body>

        <div ng-app="tableApp" class="container">

            <div ng-controller="tableCtrl" ng-cloak>
                <h2>AngularJS Pagination and Table Sort</h2>
                <hr />
                <form class="form-inline md-form form-sm">
                        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" ng-model="search" aria-label="Search"
                          mdbInput>
                      </form>
                <hr />
                <table class="table table-stripped table-sort" ng-controller="sortCtrl" ng-init="sortKey ='Id'">
                    <thead>
                        <tr>
                            <th ng-click="sort('Id')">
                                Id&nbsp;<span class="pull-right fas" ng-show="sortKey=='Id'" ng-class="sortNumericClass(reverse)"></span>
                            </th>
                            <th ng-click="sort('Name')">
                                Name&nbsp;<span class="pull-right fas" ng-show="sortKey=='Name'"
                                    ng-class="sortAlphaClass(reverse)"></span>
                            </th>
                            <th ng-click="sort('Price')">
                                PriceName&nbsp;<span class="pull-right fas" ng-show="sortKey=='Price'"
                                    ng-class="sortAlphaClass(reverse)"></span>
                            </th>
                            <th ng-click="sort('Info.Quantity')">
                                Quantity&nbsp;<span class="pull-right fas" ng-show="sortKey=='Info.Quantity'"
                                    ng-class="sortNumericClass(reverse)"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in items | filter:search | orderBy:sortKey:reverse | itemsPerPage: pageSize"
                            current-page="currentPage">
                            <td>{{item.Id}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Price | currency}}</td>
                            <td>{{item.Info.Quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="pull-left">
                    <dir-pagination-controls boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="src/app/app.js"></script>
        <script src="src/app/module/dirPagination.js"></script>
        <script src="src/app/controller/tableCtrl.js"></script>
        <script src="src/app/controller/sortCtrl.js"></script>
    </body>

</html>