.table-sort th:hover {
    cursor: pointer;
    visibility:visible;
    background-color: rgba(141, 192, 219, 0.25);
}

table .tablesort-asc,table .tablesort-desc{
    background-color:rgba(141, 192, 219, 0.25);
}
